.hello:link {
    color: orange;
}

.hello:hover {
    color: green;
    font-family: arial;
    font-size: 20px;
}

.hello:active {
    font-style: italic;
}

.hello:visited {
    color: red;   
}

li:first-child a {
    color: greenyellow;
}
li:last-child a {
    color: rgb(21, 0, 139);
}
li:nth-child(3n+1) a {
    color: brown;
}